$primary-color: #2862f4;
$blackblue-color: #1b1c2c;
$seconday-color: #57585d;
$violet-color: #796fd5;
$highlight-violet-color: #f6f5fc;
$highlight-black-color: #989c9e;
$highlight-secondar-color: #fafcfd;
$darkwhite-color: #9fa5ae;
$white-color: #ffffff;
